<!DOCTYPE html>
<html>
<head>
<title>민주은형블로그</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <style type="text/css">
  h1{
	  text-align:center;
	  background-color:pink;
	  color:white;
	  padding:30px;
}
.menu{
	float:right;
	text-align:right;
	
}

a:link, a:visited{
	color:inherit;
	text-decoration:none;
}
a:hovor, a:active{
	text-decoration:underline;
}
	
  </style>
</head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        <h1>돼지보스의 쿠킹블로그</h1>
      </div>
      
    </div>

<div class="menu">
	<P>*EVERYDAY COOKING*</P>
    <li>
    <ul><a href="#">오븐요리</a></ul>
    <ul><a href="#">밥상요리</a></ul>
    <ul><a href="#">한그릇요리</a></ul>
    <ul><a href="#">홈베이킹</a></ul>
    <ul><a href="#">안주.야식.간식</a></ul>
    </li>
</div>
<div>
	<p>손쉽게 구할 수 있는 재료로 손쉽게 먹을 수 없는 special한 음식을 만들어 보자!</p>
	<P>여대생 둘과 함께하는 먹방의 세계로 GO!!!!!!!!!!!</P>
</div>
  </body>
  

</html>
