<!DOCTYPE html>
<html>
<head>
<title>민주은형블로그</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <style type="text/css">
  h1{
	  text-align:center;
	  text-emphasis:accent;
	  background-color:pink;
	  color:white;
	  padding:40px;
}
.menu{
	float:right;
	text-align:right;
	padding:15px;
}
.menu ul{
	list-style-type:none;
}
a:link, a:visited{
	color:inherit;
	text-decoration:none;
}
a:hovor, a:active{
	text-decoration:underline;
}
.content{
	margin:10px;
	padding:5px;
	text-align:center;
	float:left;
	
}
.image{
	clear:both;
	margin:0px;
	height:200px;
	width:280px;
}
#oven{
	display:none;
}
	
  </style>
</head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        <h1>돼지보스의 쿠킹블로그</h1>
      </div>
      
    </div>

<nav class="menu">
	<h3>*EVERYDAY COOKING*</h3>
    <ul>
    <li><a href="#oven">오븐요리</a></li>
    <li><a href="#">밥상요리</a></li>
    <li><a href="#">한그릇요리</a></li>
    <li><a href="#">홈베이킹</a></li>
    <li><a href="#">안주.야식.간식</a></li>
    </ul>
</nav>
<div class="content">
<img class="image" src="http://cfile30.uf.tistory.com/image/2034E13D51360A7832FBF4"/>
	<h2>손쉽게 구할 수 있는 재료로 손쉽게 먹을 수 없는 special한 음식을 만들어 보자!</h2>
    <img class="image" src="http://pds23.egloos.com/pds/201208/15/12/c0055612_502b8f9182815.jpg"/>
	<h2>여대생 둘과 함께하는 먹방의 세계로 GO!!!!!!!!!!!</h2>
    
    
    <img class="image" src="http://thumbnail.egloos.net/600x0/http://pds22.egloos.com/pds/201103/01/15/d0013015_4d6ca93c47c3c.jpg"/>
</div>


 	<div id="oven">
    	<div>
            	<h2>오븐요리</h2>
		<p>오븐요리를 시작</p>
	</div>



</body>
</html>
