<!DOCTYPE html>
<html>
<head>
<title>블로그만들기</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1>블로그!!!!!!!!!!!!!!!!!</h1>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
